/* Common sheared style */
* {
    margin: 0px;
    padding: 0px;
    font-family: loto;
}

.title-font {

    color: #272727;
    font-size: 800;
    font-size: 40px;

}

.btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
}



/* Header related style */
.header {
    background: rgba(229, 84, 115, 0.10);
    background-size: 100vh;
    display: flex;
    align-items: center;
    gap: 97px;
    justify-content: center;
    padding-left: 230px;
    padding-right: 200px;
}

.header-content {}

.header-title {
    font-size: 80px;
}


.header-discription {
    max-width: 600px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    padding: 32px 0px;
}

.header-image {
    display: flex;
    max-width: 600px;
    padding-top: 50px;
}