/* Common sheared style */
* {
    margin: 0px;
    padding: 0px;
    font-family: loto;

}

.title-font {

    color: #272727;
    font-size: 800;
    font-size: 40px;
}

.btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: 0px;
}

.btn:hover {
    background-color: yellow;
    color: blue;
    border: 2px solid #f44336;
}

.house-style-image {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    position: relative;
    margin-bottom: 20px;
}




/* nav bar related style */
.nav-container {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;
}

.menus ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menus ul li {
    font-size: larger;
}

.icon {
    display: flex;
    gap: 20px;
}


/* Banne related style */
.banner {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    gap: 97px;
    justify-content: center;
    padding-left: 230px;
    padding-right: 200px;
}

.header-title {
    font-size: 80px;
}


.header-discription {
    max-width: 600px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    padding: 32px 0px;
}

.header-image {
    display: flex;
    max-width: 600px;
    padding-top: 50px;
}


/* Our Featured related content */
.our-container-div-here {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-featured-container {
    display: flex;
    flex-direction: column;
    margin-top: 175px;
    justify-content: center;
    align-items: center;
}





.oure-featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    padding-top: 24px;
    padding-bottom: 45px;
    max-width: 594px;
}


/* Our featured image related style */
.oure-featured-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-1 {
    background: rgba(167, 33, 98, 0.15);
    padding: 10px 78px 0px;
    width: 330px;
    height: 528px;
}

.img-2 {
    background: rgba(5, 151, 160, 0.15);
}

.img-3 {
    background: rgba(71, 125, 17, 0.15);
}

.image-text-span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.house-type-image-title {
    font-size: 24px;
}


/* extra support related style */
.extra-suport-option{
    display: flex;
    align-items: center;
    justify-content: center;

}

.to-margin-suport{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 300px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    margin-top: 120px;
    margin-bottom: 100px;    
}

.extra-suport-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Hot deal section style */
.hot-deal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding-left: 360px;
    padding-right: 440px;
    gap: 200px;
}

.hot-deal-text {
    text-align: center;
}

.hot-deal-title {
    color: #272727;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    max-width: 500px;
    padding-top: 20px;
    padding-bottom: 30px;
}




/* Instagram section related style */
.Insta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}


.insta-title {
    text-align: center;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    width: 580px;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 45px;
}

.insta-imeges {
    display: flex;
    gap: 20px;
    padding-left: 230px;
    padding-right: 230px;
}


/* Deal Submit related style */
.deal-submit-container-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deal-submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    background: url("Flower\ Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    margin-top: 125px;
    margin-bottom: 125px;
}

.deal-submit-subcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
}

.deal-submit-offer {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding-bottom: 48px;
}


.deal-submti-section {
    display: flex;
    gap: 40px;
}

.input-email {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    border: none;
    background: #FFF;
    font-size: 30px;
}

.input-email::placeholder {
    color: rgba(39, 39, 39, 0.60);
    padding: 22px 500px 22px 22px;
}


/* Footer related style */

body footer {
    align-items: center;
    justify-content: center;
    background-color: #111010;
    color: rgba(255, 255, 255, 0.90);
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding: 120px 830px;
    align-items: center;
    justify-content: center;
}

.footer-title {
    color: #FFFFFF;
    padding-bottom: 20px;
}

.footer-title span {
    color: #E55473;

}

.footer-description {
    display: flex;
    text-align: center;
    font-size: 18px;
    width: 620px;
    padding-bottom: 30px;
}

.small {
    color: rgba(255, 255, 255, 0.40);
    font-size: smaller;
}